
#require-loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
  }

  .loader{
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
  }
  
  .loader:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #781866;
    border-radius: 50%;
    opacity: 1;
    animation: popin 1.5s linear infinite 0s;
  }
  
  .loader:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #781866;
    border-radius: 50%;
    opacity: 1;
    animation: popin 1.5s linear infinite 0.5s;
  }
  
  @keyframes popin{
    0%{
        opacity: 1;
        transform: scale(0);
    }
    100%{
        opacity: 0;
        transform: scale(2);
    }
}

.tela-inicial input{
    margin-left: 41px !important;
}
.tela-inicial-video i{
    color: #781866 !important;
}
#email{
    margin-left: 40px !important;
}
#password{
    margin-left: 40px !important;
}
#re_password{
    margin-left: 40px !important;
}
.login-v i {
    margin-top: 1.5% !important;
}